In [1]:
import os; os.chdir('..')

In [2]:
import pandas as pd

In [4]:
df= pd.read_excel(
    'data/API_EG.USE.ELEC.KH.PC_DS2_en_excel_v2_5998247.xls',
    sheet_name='Data'
)

In [5]:
df.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-10-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.00000,2014.000000,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,691.95809,680.149943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns= df.iloc[2]

In [8]:
df= df.iloc[3:]

In [10]:
df.to_csv(
    'data/Electric Power Consumption.csv',
    index=False
)

In [23]:
df= pd.read_csv(
    'data/Electric Power Consumption.csv'
)

In [24]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,Aruba,ABW,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,691.958090,680.149943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,178.422404,183.440206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,278.808255,310.081668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960.0', '1961.0', '1962.0', '1963.0', '1964.0', '1965.0', '1966.0',
       '1967.0', '1968.0', '1969.0', '1970.0', '1971.0', '1972.0', '1973.0',
       '1974.0', '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0',
       '1981.0', '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0',
       '1988.0', '1989.0', '1990.0', '1991.0', '1992.0', '1993.0', '1994.0',
       '1995.0', '1996.0', '1997.0', '1998.0', '1999.0', '2000.0', '2001.0',
       '2002.0', '2003.0', '2004.0', '2005.0', '2006.0', '2007.0', '2008.0',
       '2009.0', '2010.0', '2011.0', '2012.0', '2013.0', '2014.0', '2015.0',
       '2016.0', '2017.0', '2018.0', '2019.0', '2020.0', '2021.0', '2022.0'],
      dtype='object')

In [47]:
relations_v2= []

def add_relations(subject, verb, object):
    d= {
        "subject": subject,
        "verb": verb,
        "object": object
    }
    relations_v2.append(d)

In [27]:
df.__len__()

266

In [29]:
df_columns= df.columns.values.copy()
for i in range(4, len(df_columns)):
    df_columns[i]= f'{df_columns[i]} (kWh per capita)'
df_columns

array(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960.0 (kWh per capita)', '1961.0 (kWh per capita)',
       '1962.0 (kWh per capita)', '1963.0 (kWh per capita)',
       '1964.0 (kWh per capita)', '1965.0 (kWh per capita)',
       '1966.0 (kWh per capita)', '1967.0 (kWh per capita)',
       '1968.0 (kWh per capita)', '1969.0 (kWh per capita)',
       '1970.0 (kWh per capita)', '1971.0 (kWh per capita)',
       '1972.0 (kWh per capita)', '1973.0 (kWh per capita)',
       '1974.0 (kWh per capita)', '1975.0 (kWh per capita)',
       '1976.0 (kWh per capita)', '1977.0 (kWh per capita)',
       '1978.0 (kWh per capita)', '1979.0 (kWh per capita)',
       '1980.0 (kWh per capita)', '1981.0 (kWh per capita)',
       '1982.0 (kWh per capita)', '1983.0 (kWh per capita)',
       '1984.0 (kWh per capita)', '1985.0 (kWh per capita)',
       '1986.0 (kWh per capita)', '1987.0 (kWh per capita)',
       '1988.0 (kWh per capita)', '1989.0 (kWh per capita)',
       '1990.0 (kWh per capita)', '1991.0 (kWh per capita)',
       '1992.0 (kWh per capita)', '1993.0 (kWh per capita)',
       '1994.0 (kWh per capita)', '1995.0 (kWh per capita)',
       '1996.0 (kWh per capita)', '1997.0 (kWh per capita)',
       '1998.0 (kWh per capita)', '1999.0 (kWh per capita)',
       '2000.0 (kWh per capita)', '2001.0 (kWh per capita)',
       '2002.0 (kWh per capita)', '2003.0 (kWh per capita)',
       '2004.0 (kWh per capita)', '2005.0 (kWh per capita)',
       '2006.0 (kWh per capita)', '2007.0 (kWh per capita)',
       '2008.0 (kWh per capita)', '2009.0 (kWh per capita)',
       '2010.0 (kWh per capita)', '2011.0 (kWh per capita)',
       '2012.0 (kWh per capita)', '2013.0 (kWh per capita)',
       '2014.0 (kWh per capita)', '2015.0 (kWh per capita)',
       '2016.0 (kWh per capita)', '2017.0 (kWh per capita)',
       '2018.0 (kWh per capita)', '2019.0 (kWh per capita)',
       '2020.0 (kWh per capita)', '2021.0 (kWh per capita)',
       '2022.0 (kWh per capita)'], dtype=object)

In [ ]:
for i in range(df.__len__()):
# for i in range(1):
    temp_i= df.iloc[i].values
    subject_i= temp_i[0]
    for j in range (1, len(temp_i)):
        # print(f'{df_columns[j]}: ', str(temp_i[j]))
        object_j= temp_i[j]
        verb_j= df_columns[j]
        print(f"{subject_i}->{verb_j}->{object_j}")
        add_relations(subject_i, verb_j, str(object_j))

In [36]:
len(relations_v2)

17556

In [49]:
relations_v2[:10]

[{'subject': 'Aruba', 'verb': 'Country Code', 'object': 'ABW'},
 {'subject': 'Aruba',
  'verb': 'Indicator Name',
  'object': 'Electric power consumption (kWh per capita)'},
 {'subject': 'Aruba', 'verb': 'Indicator Code', 'object': 'EG.USE.ELEC.KH.PC'},
 {'subject': 'Aruba', 'verb': '1960.0 (kWh per capita)', 'object': 'nan'},
 {'subject': 'Aruba', 'verb': '1961.0 (kWh per capita)', 'object': 'nan'},
 {'subject': 'Aruba', 'verb': '1962.0 (kWh per capita)', 'object': 'nan'},
 {'subject': 'Aruba', 'verb': '1963.0 (kWh per capita)', 'object': 'nan'},
 {'subject': 'Aruba', 'verb': '1964.0 (kWh per capita)', 'object': 'nan'},
 {'subject': 'Aruba', 'verb': '1965.0 (kWh per capita)', 'object': 'nan'},
 {'subject': 'Aruba', 'verb': '1966.0 (kWh per capita)', 'object': 'nan'}]

In [41]:
import json

In [42]:

previous_relations= json.load(open("Entities/relation.json"))

In [50]:
len(previous_relations)

3220

In [45]:
total_relations= previous_relations+relations_v2

In [46]:
json.dump(
    total_relations,
    open("Entities/new_relations.json", "w")
)